[mysqld]

# Performance optimization
key_buffer = 32M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 64
table_cache = 512
query_cache_type = 1
query_cache_size = 16M
query_cache_limit = 1MB
tmp_table_size = 8M
expire_logs_days = 10
max_binlog_size = 50M
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 2M
myisam_sort_buffer_size = 32M
max_connect_errors = 1000
max_connections = 400
connect_timeout = 15
wait_timeout = 86400

skip-external-locking

#FIXME temporal workaround for timezone issues between GS5 call logs and actual local time
default-time-zone='+00:00'
