#
# Shorewall6 version 4 - Sample Rules File for one-interface configuration.
# Copyright (C) 2006,2008 by the Shorewall Team
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# See the file README.txt for further details.
#------------------------------------------------------------------------------------------------------------
# For information on entries in this file, type "man shorewall6-rules"
###########################################################################################################################################################################
#ACTION         SOURCE          DEST            PROTO   DEST    SOURCE          ORIGINAL        RATE            USER/   MARK    CONNLIMIT       TIME       HEADERS   SWITCH


#SECTION ALL



SECTION ESTABLISHED

# Accept ESTABLISHED SIP connections very early (e.g. needed for helper module)
ACCEPT all $FW tcp sip,5070,5080,1720
ACCEPT all $FW udp sip,5070,5080
ACCEPT all $FW tcp sip-tls,5071,5081
ACCEPT all $FW udp sip-tls,5071,5081



SECTION RELATED

# Accept RELATED SIP connections very early (e.g. needed for helper module)
ACCEPT all $FW tcp sip,5070,5080,1720
ACCEPT all $FW udp sip,5070,5080



SECTION NEW

# web services
HTTP(ACCEPT) all $FW
HTTPS(ACCEPT) all $FW

# FHEM
ACCEPT all $FW tcp 7072

# Allow mDNS
#mDNS(ACCEPT) all $FW

# NTP service
NTP(ACCEPT) all $FW

# DNS service
DNS(ACCEPT) all $FW

# BootP for phones
ACCEPT all $FW tcp bootps,bootpc
ACCEPT all $FW udp bootps,bootpc

# Allow SNMP
SNMP(ACCEPT) all $FW

# Allow ping
Ping(ACCEPT) all $FW

# mon_ami Asterisk emulator
ACCEPT all $FW tcp 5038

# remote administration via SSH
SSH(ACCEPT) all $FW - - - - s:1/min:3


# SIP/FreeSwitch specific services
#
# Also see http://wiki.freeswitch.org/wiki/Firewall
#
ACCEPT all $FW udp 1719
ACCEPT all $FW tcp 5002
ACCEPT all $FW udp 5003
ACCEPT all $FW tcp sip-tls
ACCEPT all $FW udp sip-tls
#ACCEPT all $FW tcp 8021

# This should not be necessary as we are handling unencrypted SIP and H323 traffic via the helper module
# However to enforce availability we will force these ports to be open.
ACCEPT all $FW tcp sip,5070,5080
ACCEPT all $FW udp sip,5070,5080
ACCEPT all $FW udp 16384:32768
ACCEPT all $FW tcp 1720
